.passeio {    
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}

.interna_produtos {
    background: url("../img/bg-produtos.jpg") no-repeat center;
}

.div-img-produto {
    padding-top: 80px;
    height: 280px;
}

.produtos-bg1 {
    background: url("../img/produtos/bikcraft-passeio-1.jpg") no-repeat center;
    height: 280px;
}

.produtos-bg2 {
    background: url("../img/produtos/bikcraft-esporte-1.jpg") no-repeat center;
    height: 280px;
}

.produtos-bg3 {
    background: url("../img/produtos/bikcraft-retro-1.jpg") no-repeat center;
    height: 280px;
}

.passeio .underscore {
    padding-top: 98px;
    font-size: 36px;
}

.underscore:after, .underscore:before {
    content: "";
	display: block;
	width: 60px;
	height: 3px;	
    margin: 13px auto 13px auto;
    background: #fff;	
}


.container {
    padding-top: 20px;
}

.black-box {
    background-color: #000;
    height: 100%;
}

.black-box p {
    font-size: 14px;
    line-height: 20px;
    font-family: Georgia, "Times New Roman", serif;    
    padding-top: 45px;
    padding-bottom: 45px;
    padding-left: 45px;
    padding-right: 45px;
    text-align: left;
}

.box-controls {
    width: 100%;
}

.box-controls .control {
    background: #fec63e; /* Amarelo */
    width: 50%;
    float: left;
    height: 65px;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
	font-size: 18px;
    line-height: 66px;
    letter-spacing: .1em;
    border-top: 2px solid #000000;
}

.control-r {
    border-left: 1px solid #000000;
}

.control-l {
    border-right: 1px solid #000000;
    
}

/* Orçamento */
.orcamento {
    color: #fec63e; /* Amarelo */
    background-color: #000;
    height: 100%;
    text-align: center;
}

.orcamento .underscore:after, .orcamento .underscore:before {
    content: "";
	display: block;
	width: 60px;
	height: 3px;	
    margin: 13px auto 13px auto;
    background: #fec63e;	
}

.text-left {
    text-align: left;
    color: #fff; /* Amarelo */
}



